* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #152f46;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.logo {
  font-family: "Courier New", Courier, monospace;
  margin-right: 30px;
}
nav {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
nav li {
  color: white;
  margin-right: 10px;
}
nav .link {
  font-weight: 500;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: white;
}
.menu {
  display: none;
}
@media (max-width: 476px) {
  .header {
    position: relative;
    justify-content: space-between;
  }
  .navbar {
    top: 0;
    background-color: #152f46;
    display: block;
    left: 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
    width: 50%;
  }
  .navbar li {
    margin-bottom: 10px;
  }
  .close-nav {
    display: block;
    opacity: 1;
  }
  .menu {
    display: inline-block;
  }
}
